/* Base Application Styles */
body {
  color: #fff;
  background: #222;
  padding-top:100px;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}



.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index:9000;
}


.whiteBar {
  height: 100%;
  background-color: white;
  display: block;
  position: fixed;
  left: 0;
  width: 50px;
  z-index: -5000;
}