.programList {
    background-color: white;
    height: 100%;
    display: block;
    color: black;
}

.timeslot {
    width: 100%;
    display: block;
    float: left;
    background-color: #dee1e5;
}

.timeslot > .time {
    padding: 5px;
    color: #444444;
}


.slot {
    display: block;
    border-bottom: 1px solid #cccccc;
    width:100%;
    background-color:white;
    padding: 1px;
    cursor: pointer;
}

.slot-title {
    font-weight: bold;
    padding-left: 9px;
    display: block;
    padding-bottom: 4px;
    padding-top: 7px;
    padding-right: 30px;
}

.rsvp-button {
    float: right;
    margin-top: -15px;
}

.party-image {
    display:block;
    float:left;
}

.party-image > img {
    height: 50px;
    margin-right: 13px;
}

.party-slot {
    padding: 13px !important;
}

.slot-chips {
    float: left;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 7px;
}